                <mat-toolbar>
                    <span>{{service.form.controls['id'].value?"Modificacion":"Registro"}}</span>
                    <span class="fill-remaining-space"></span>
                    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
                </mat-toolbar>
                <form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
                    <mat-grid-list cols=2 rowHeight="300px">
                        <mat-grid-tile>
                            <div class="controles-container">
                                <!--<input type="hidden" formControlName="$key">-->
                                <mat-form-field>
                                    <input formControlName="name" matInput placeholder="name">
                                    <mat-error>este campo es obligatorio</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input formControlName="lastname" matInput placeholder="lastname*">
                                    <mat-error>este campo es obligatorio</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input formControlName="id" matInput placeholder="id" readonly>
                                </mat-form-field>
                                
                                <mat-form-field>
                                    <input formControlName="address" matInput placeholder="address">
                                    <mat-error>este campo es obligatorio</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="controles-container">
                              <!--  <mat-form-field>
                                    <mat-select formControlName="roles" placeholder="roles">
                                        <mat-option>None</mat-option>
                                        <ng-container *ngFor="let rol of roles">
                                            <mat-option value="{{rol.name}}">{{rol.name}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>-->
                                <mat-form-field>
                                    <!--<input formControlName="$rol" matInput [matDatepicker]="picker" placeholder="birthday">-->
                                    <mat-label>birthday</mat-label>
                                    <input formControlName="birthday" matInput [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field>
                                    <input formControlName="username" matInput placeholder="username">
                                    <mat-error>email invalido</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input formControlName="password" matInput placeholder="password">
                                    <mat-error *ngIf="service.form.controls['password'].errors?.required">campo obligatorio</mat-error>
                                    <mat-error *ngIf="service.form.controls['password'].errors?.minLength">clave muy corta</mat-error>
                                </mat-form-field>
                                
                                <div class="button-row">
                                    <button mat-raised-button color="accent" [disabled]="(service.form.invalid) && !(service.form.get('id').value)">Submit</button>
                                    <button mat-raised-button color="primary" (click)="onClear()">Clear</button>
                                </div>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>

