<app-spinner [isVisible]="isVisible"></app-spinner>
<app-spinner [isVisible]="isVisible"></app-spinner>
<div id="layoutSidenav_content">
    <script src="http://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" defer></script>
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Estandar de nutricion</h1>
            <div class="card mb-4">
                
                
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="containerFilters">
                            <mat-form-field>
                                <mat-label>firstValue</mat-label>
                                <input matInput (keyup)="applyFilter()" placeholder="age" [formControl]="ageFilter">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>secondValue</mat-label>
                                <input matInput (keyup)="applyFilter()" placeholder="gender" [formControl]="genderFilter">
                            </mat-form-field>
                            
                        </div>
                        <button mat-raised-button  (click)="onCreate()">
                            <mat-icon>add</mat-icon>create
                          </button>
                          <table mat-table [dataSource]="listData" class="mat-elevation-z8" matSort>
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>actions</th>
                                <td mat-cell *matCellDef="let row">
                                    <button mat-icon-button color="warn" (click)="onDelete(row.id)"><mat-icon>delete_outline</mat-icon></button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}}  </td>
                            </ng-container>
                            <ng-container matColumnDef="kgValues">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rango en kilos</th>
                                <td mat-cell *matCellDef="let element"> {{element.kgValues[0].firstValue}}--{{element.kgValues[0].secondValue}}</td>
                            </ng-container>
                            <ng-container matColumnDef="sizeValues">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rango en estatura</th>
                                <td mat-cell *matCellDef="let element"> {{element.sizeValues[0].firstValue}}--{{element.sizeValues[0].secondValue}} </td>
                            </ng-container>
                            <ng-container matColumnDef="smaller">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> menor a la edad referenciada?</th>
                                <td mat-cell *matCellDef="let element"> {{element.pReferences[0].smallerThan==1?"SI":"NO"}}  </td>
                            </ng-container>
                            <ng-container matColumnDef="pReferencesAge">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> edad de referencia </th>
                                <td mat-cell *matCellDef="let element">  {{element.pReferences[0].age}}(años)  </td>
                            </ng-container>
                            <ng-container matColumnDef="pReferencesGender">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> genero de referencia </th>
                                <td mat-cell *matCellDef="let element"> {{element.pReferences[0].gender}}  </td>
                            </ng-container>
                            <ng-container matColumnDef="gradesName" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> estado </th>
                                <td mat-cell *matCellDef="let element"  [ngStyle]="{background: getColorBackground(element.grades[0].name),color:getColorL(element.grades[0].name)}"> {{element.grades[0].name}}   </td>
                            </ng-container>
                            <ng-container matColumnDef="gradesDescription" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> codigo y descripcion </th>
                                <td mat-cell *matCellDef="let element"  > {{element.grades[0].description}}   </td>
                            </ng-container>
                           

                            <ng-container matColumnDef="loading">
                                <th mat-footer-cell *matFooterCellDef colspan="6"> 
                                  loading...
                                </th>
                              </ng-container>

                              <ng-container matColumnDef="noData">
                                <th mat-footer-cell *matFooterCellDef colspan="6"> 
                                  NO DATA
                                </th>
                              </ng-container>
                              
                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></tr>
                              <tr mat-footer-row *matFooterRowDef="['noData']"  [ngClass]="{'hide':!(listData!=null && listData.data.length==0 )}"></tr>
                          </table>
                          <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="5" showFirstLastButtons>

                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
