<app-spinner [isVisible]="isVisible"></app-spinner>
<div id="layoutSidenav_content">
  <script src="http://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" defer></script>
  <main>
    <div class="container-fluid">
      <h1 class="mt-4">Usuarios</h1>
      <div class="card mb-4">
        <div class="card-header"><svg class="svg-inline--fa fa-table fa-w-16 mr-1" aria-hidden="true" focusable="false"
            data-prefix="fas" data-icon="table" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
            data-fa-i2svg="">
            <path fill="currentColor"
              d="M464 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zM224 416H64v-96h160v96zm0-160H64v-96h160v96zm224 160H288v-96h160v96zm0-160H288v-96h160v96z">
            </path>
          </svg>DataTable Example</div>
        <div class="card-body">
          <div class="table-responsive">
            <div class="containerFilters">
             
              <mat-form-field>
                <mat-label>direccion</mat-label>
                <input matInput  (keyup)="applyFilter()" placeholder="direccion" [formControl]="addressFilter">
              </mat-form-field>
              <mat-form-field>
                <mat-label>fech nacimiento</mat-label>
                <input matInput  (keyup)="applyFilter()" placeholder="fech nacimiento" [formControl]="birthdayFilter">
              </mat-form-field>
              <mat-form-field>
                <mat-label>apellido</mat-label>
                <input matInput  (keyup)="applyFilter()" placeholder="apellido" [formControl]="lastnameFilter">
              </mat-form-field>
              <mat-form-field>
                <mat-label>genero</mat-label>
                <input matInput  (keyup)="applyFilter()" placeholder="genero" [formControl]="genderFilter">
              </mat-form-field>
              <!--<mat-form-field>
                <mat-label>estatura</mat-label>
                <input matInput  (keyup)="applyFilter()" placeholder="estatura" [formControl]="heightFilter">
              </mat-form-field>
              <mat-form-field>
                <mat-label>peso corporal</mat-label>
                <input matInput  (keyup)="applyFilter()" placeholder="peso corporal" [formControl]="weightFilter">
              </mat-form-field>-->
              <mat-form-field>
                <mat-label>nro documento</mat-label>
                <input matInput  (keyup)="applyFilter()" placeholder="nro documento" [formControl]="nroDocFilter">
              </mat-form-field>
              <mat-form-field>
                <mat-label>correo</mat-label>
                <input matInput  (keyup)="applyFilter()" placeholder="nro documento" [formControl]="usernameFilter">
              </mat-form-field>
             
             <mat-form-field>
                <mat-label>username</mat-label>
                <input matInput  (keyup)="applyFilter()" placeholder="username" [formControl]="usernameFilter">
              </mat-form-field>
          
            </div>
            <button mat-raised-button (click)="onCreate()">
              <mat-icon>add</mat-icon>create
            </button>
            
            <table mat-table [dataSource]="listData" class="mat-elevation-z8" matSort>
            
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>actions</th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
                  <button mat-icon-button color="warn" (click)="onDelete(row.id)"><mat-icon>delete_outline</mat-icon></button>
                </td>
              </ng-container>
              <!-- Position Column -->
              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> direccion </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="birthday">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> fech nacimiento </th>
                <td mat-cell *matCellDef="let element"> {{element.birthday}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
              <ng-container matColumnDef="nroDoc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> nro documento </th>
                <td mat-cell *matCellDef="let element"> {{element.nroDoc}} </td>
              </ng-container>
              <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> genero </th>
                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> apellido </th>
                <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> username </th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
              </ng-container>
              <!--<ng-container matColumnDef="height">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> estatura </th>
                <td mat-cell *matCellDef="let element"> {{element.height}} </td>
              </ng-container>
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> peso corporal </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>-->
             <!-- <ng-container matColumnDef="password" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> password </th>
                <td mat-cell *matCellDef="let element"> {{element.password}} </td>
              </ng-container>-->
             <!-- <ng-container matColumnDef="roles">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> roles </th>
                <td mat-cell *matCellDef="let element"> {{element.roles}} </td>
              </ng-container>-->
              <ng-container matColumnDef="loading">
                <th mat-footer-cell *matFooterCellDef colspan="6"> 
                  loading...
                </th>
              </ng-container>
              <ng-container matColumnDef="noData">
                <th mat-footer-cell *matFooterCellDef colspan="6"> 
                  NO DATA
                </th>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></tr>
              <tr mat-footer-row *matFooterRowDef="['noData']"  [ngClass]="{'hide':!(listData!=null && listData.data.length==0 )}"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="5" showFirstLastButtons>

            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </main>


</div>
